<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ITW2-asngmt</title>
</head>
<body>
    <div style="display: flexbox; text-align: center; margin: 1%;">
       - URL SHORTENER -
    </div>
    <div style="display: flexbox;text-align: center;" class="container">
        <form method="POST" action="{% url 'home' %}">
            {% csrf_token %}
            <!-- <input type="url" placeholder="URL..." required> -->
            <div class="container">
                <label for="name">Website name</label>
                <div style="margin: 5px;">
                    {{ url_form.name }}
                </div>
                <label for="long_url">URL to website</label>
                <div style="margin: 5px;">
                    {{ url_form.long_url }}
                </div>
            </div>
            <div style="margin: 1%;">
                <button type="submit" value="submit">
                    Create
                </button>
            </div>
        </form>
        <a href="{% url 'codes-view' %}">View Encoded URL's</a>
    </div>
</body>
</html>